//- Script Async


//- Meta
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.png')

//- Stylesheet Header
link(rel='stylesheet' href='vendor/bootstrap/css/bootstrap.css')
link(rel='stylesheet' href='vendor/sanitize/sanitize.css')
link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='vendor/select2/css/select2.min.css')
link(rel='stylesheet' href='vendor/bootstrap-datapicker/css/bootstrap-datepicker.min.css')
link(rel='stylesheet' href='vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
link(rel='stylesheet' href='vendor/datatables/css/jquery.dataTables.min.css')
link(rel='stylesheet' href='css/style.css')

//- Script Header
