//- Script Footer
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/select2/js/select2.min.js')
script(src='vendor/select2/js/i18n/pt-BR.js')
script(src='vendor/bootstrap-datapicker/js/bootstrap-datepicker.min.js')
script(src='vendor/bootstrap-datapicker/locales/bootstrap-datepicker.pt-BR.min.js')
script(src='vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
script(src='vendor/datatables/js/jquery.dataTables.min.js')
script(src='js/all.js')
